{extend name="public/web_html"}
{block name="style"}

{/block}

{block name="body"}
<main class="main">
    <div class="con_model">
        <a href="javascript:void(0);" class="cm_a">
            <img src="/application/web/view/static/image/1.png" alt="">
            <h2>穿越来昌庆宫，化身最美“樱花女神”！</h2>
            <p class="synopsis">
                    <span class="text_ell">
                        樱花盛开的韩国，没得很文艺，很安静，你一定不能只看樱花，因为樱花真的不好看
                    </span>
                <span class="good_num">163赞</span>
            </p>
        </a>
    </div>
    <div class="con_model">
        <a href="javascript:void(0);" class="cm_a">
            <img src="/application/web/view/static/image/2.png" alt="">
            <h2>穿越来昌庆宫，化身最美“樱花女神”！</h2>
            <p class="synopsis">
                    <span class="text_ell">
                        樱花盛开的韩国，没得很文艺，很安静，你一定不能只看樱花，因为樱花真的不好看
                    </span>
                <span class="good_num">163赞</span>
            </p>
        </a>
    </div>
    <div class="con_model">
        <a href="javascript:void(0);" class="cm_a">
            <img src="/application/web/view/static/image/2.png" alt="">
            <h2>穿越来昌庆宫，化身最美“樱花女神”！</h2>
            <p class="synopsis">
                    <span class="text_ell">
                        樱花盛开的韩国，没得很文艺，很安静，你一定不能只看樱花，因为樱花真的不好看
                    </span>
                <span class="good_num">163赞</span>
            </p>
        </a>
    </div>
</main>
{/block}

{block name="script"}

{/block}






