{extend name="public/web_html"}
{block name="style"}

{/block}

{block name="body"}
<main class="par_main">
    <div class="par_content">
        <ul>
            <li>
                <p class="par_name">商品名称</p>
                <p class="par_detail">高效B5玻尿酸乳液</p>
            </li>
            <li>
                <p class="par_name">容量</p>
                <p class="par_detail">120ml</p>
            </li>
            <li>
                <p class="par_name">品牌</p>
                <p class="par_detail">AHC</p>
            </li>
            <li>
                <p class="par_name">适宜肤质</p>
                <p class="par_detail">所有肤质</p>
            </li>
        </ul>
    </div>
</main>
{/block}

{block name="script"}

{/block}






