{extend name="public/web_html"}
{block name="style"}

{/block}

{block name="body"}
<main class="main">
    <div class="content">
        <h1 class="strategy_tit">韩国旅游签证申请流程及攻略</h1>
        <p class="strategy_text">
            韩国作为一个在中国附近的国家，因为其文化与环境，一直吸引着不少中国人的目光。去年，韩国甚至成为了中国最大的境外旅游目的地。
            但是因为众所周知的原因，韩国除了济州岛，一直没有对中国公民免除签证。因此，签证似乎也成为了中国公民赴韩的“拦路虎”。
        </p>
        <p class="strategy_text">
            最近经常都有童鞋们问我关于韩国签证的问题。问来问去问多了，我突然就萌发出来了要写一份韩国签证攻略的想法。
        </p>
        <p class="strategy_text">
            事实上，别看网络上到处都是关于韩国签证的信息，各种鱼龙混杂，看的都眼花缭乱。
        </p>
        <p class="strategy_text">
            其实，网络上的信息，也就分为两种：一种是官方、旅行社等机构发布的签证材料介绍，这种资料，最官方，也最没底，可能看完了，
            还是有许多人要打各种问号，出国出的多的还比较好，没出过国的很多小白的脑子中，会浮现出各种问号，越看反而越没底...
        </p>
        <p class="strategy_text">
            而第二类信息就是各种人的签证办理经验谈了，这种信息的特点就是鲜活，因为写的人毕竟也都是去办签证的，对于很多小白的问题，
            都会有一些鲜活的介绍，但是这也有缺点：每个人状况都不一样，外加上有些人写的时候会比较模糊，比较主观化。
        </p>
        <p class="strategy_text">
            今天我就来试着将这两类信息结合到一个帖子当中，挑战最全面的韩国签证攻略，做到真正的“一贴在手，签证无忧。”
            让更多去韩国旅游的国人，不再因签证而困扰，这就是我写这个帖子的目标~~！！
        </p>
    </div>
</main>
{/block}

{block name="script"}

{/block}