{extend name="public/web_html"}
{block name="title"}行程详情{/block}
{block name="style"}
<link rel="stylesheet" href="">
{/block}

{block name="body"}

<div class="route_box">
    <!--行程名称-->
    <div class="route_head mt_10">
        <h1>大凡2成人2儿童二日定制服务</h1>
        <p>￥<span>2600.00</span></p>
    </div>

    <!--行程详情-->
    <div class="route_con mt_10 box2">
        <ul>
            <li><span class="s-head">出行时间</span><span class="s-con">2017-11-06 12.23</span></li>
            <li><span class="s-head">出发地</span><span class="s-con">苏州和平路</span></li>
            <li><span class="s-head">目的地</span><span class="s-con">日本大阪田子元街</span></li>
            <li><span class="s-head">游玩时间</span><span class="s-con">2天</span></li>
            <li><span class="s-head">出行人数</span><span class="s-con">2成人2儿童</span></li>
            <li><span class="s-head">行程车型</span><span class="s-con">5人座舒适型</span></li>
        </ul>
    </div>

    <!--游玩说明-->
    <div class="cir_con route_imgtext">
        <h1>游玩说明</h1>
        <ul>
            <li>
                <img src="/application/web/view/static/image/1.png" alt="">
                <p>没错就是大阪，我们的第一站</p>
            </li>
            <li>
                <img src="/application/web/view/static/image/1.png" alt="">
                <p>美丽的大阪，充满樱花的大阪，美吧</p>
            </li>
        </ul>
    </div>

    <!--信息说明-->
    <div class="route_bomb mt_10 box4 mb_10">
        <ul>
            <li><span class="s-head">费用说明</span><span id="fy_click" class="s-con">查看 <i></i></span></li>
            <li><span class="s-head">退订政策</span><span id="zc_click" class="s-con">不支持 <i></i></span></li>
        </ul>
    </div>
</div>

<div class="bomb_box">
    <div class="bomb_con">
        <h1 class="title-h1">
            退订政策
            <i></i>
        </h1>
        <div class="bomb-div">
            <div class="two-con-div">
                这是退订政策的内容
            </div>
        </div>
    </div>
    <div class="bomb_con2">
        <h1 class="title-h1">
            费用说明
            <i></i>
        </h1>
        <div class="bomb-div">
            <div class="two-con-div">
                这是费用说明的内容
            </div>
        </div>
    </div>
</div>

{/block}
{block name="script"}
<script>
    $(function () {
        // 费用说明
        $("#zc_click").click(function(){
            $(document).on("touchmove",function(e) {
                if(e.target.className.indexOf("bomb_box") >= 0) {
                    e.preventDefault();
                } else {
                    e.stopPropagation();
                }
            })
            $(".bomb_box").css("display", "block");
            $(".bomb_con").css("display", "block");
            $(".bomb_con2").css("display", "none");
            var h = $(".bomb_con .bomb-div").height() + $(".bomb_con .title-h1").height();
            $(".bomb_con").height(h);
        })
        $("#fy_click").click(function(){
            $(document).on("touchmove",function(e) {
                if(e.target.className.indexOf("bomb_box") >= 0) {
                    e.preventDefault();
                } else {
                    e.stopPropagation();
                }
            })
            $(".bomb_box").css("display", "block");
            $(".bomb_con").css("display", "none")
            $(".bomb_con2").css("display", "block");
            var h = $(".bomb_con2 .bomb-div").height() + $(".bomb_con2 .title-h1").height();
            $(".bomb_con2").height(h);
        })
        $(".title-h1 i").click(function(){
            $(".bomb_box").css("display", "none");
        })
    })
</script>
{/block}