{extend name="public/web_html"}
{block name="title"}行程详情{/block}
{block name="style"}
<link rel="stylesheet" href="">
{/block}

{block name="body"}

<div class="route_box">
    <!--行程名称-->
    <div class="route_head mt_10">
        <h1>{$info.title|default='私人定制订单'}</h1>
        <p>￥<span>{$info.total_price}</span></p>
    </div>

    <!--行程详情-->
    <div class="route_con mt_10 box2">
        <ul>
            <li><span class="s-head">出行时间</span><span class="s-con">{$info.tour_time}</span></li>
            <li><span class="s-head">出发地</span><span class="s-con">{$info.work_address}</span></li>
            <li><span class="s-head">目的地</span><span class="s-con">{$info.dest_address}</span></li>
            <li><span class="s-head">游玩时间</span><span class="s-con">{$info.tour_days}天</span></li>
            <li><span class="s-head">出行人数</span><span class="s-con">{$info.use_car_adult}成人{$info.use_car_children}儿童</span></li>
            <li><span class="s-head">行程车型</span><span class="s-con">{$info.req_car_seat_num}人座{$info.req_car_level_name}</span></li>
        </ul>
    </div>

    <!--游玩说明-->
    <div class="cir_con route_imgtext">
        <h1>游玩说明</h1>
        <!--<ul>
            <li>
                <img src="/application/web/view/static/image/1.png" alt="">
                <p>没错就是大阪，我们的第一站</p>
            </li>
            <li>
                <img src="/application/web/view/static/image/1.png" alt="">
                <p>美丽的大阪，充满樱花的大阪，美吧</p>
            </li>
        </ul>-->
        {$info.play_message}
    </div>

    <!--信息说明-->
    <div class="route_bomb mt_10 box4 mb_10">
        <ul>
            <li><span class="s-head">费用说明</span><span id="fy_click" class="s-con">查看 <i></i></span></li>
            <li><span class="s-head">退订政策</span><span id="zc_click" class="s-con">{$info.costCompensationLevel} <i></i></span></li>
        </ul>
    </div>
</div>

<div class="bomb_box">
    <div class="bomb_con">
        <h1 class="title-h1">
            退订政策
            <i></i>
        </h1>
        <div class="bomb-div">
            <div class="two-con-div">
                {$info.costCompensation}
            </div>
        </div>
    </div>
    <div class="bomb_con2">
        <h1 class="title-h1">
            费用说明
            <i></i>
        </h1>
        <div class="bomb-div">
            <div class="two-con-div">
                {$info.costStatement}
            </div>
        </div>
    </div>
</div>

{/block}
{block name="script"}
<script>
    $(function () {
        // 费用说明
        $("#zc_click").click(function(){
            $(document).on("touchmove",function(e) {
                if(e.target.className.indexOf("bomb_box") >= 0) {
                    e.preventDefault();
                } else {
                    e.stopPropagation();
                }
            })
            $(".bomb_box").css("display", "block");
            $(".bomb_con").css("display", "block");
            $(".bomb_con2").css("display", "none");
            var h = $(".bomb_con .bomb-div").height() + $(".bomb_con .title-h1").height();
            $(".bomb_con").height(h);
        })
        $("#fy_click").click(function(){
            $(document).on("touchmove",function(e) {
                if(e.target.className.indexOf("bomb_box") >= 0) {
                    e.preventDefault();
                } else {
                    e.stopPropagation();
                }
            })
            $(".bomb_box").css("display", "block");
            $(".bomb_con").css("display", "none")
            $(".bomb_con2").css("display", "block");
            var h = $(".bomb_con2 .bomb-div").height() + $(".bomb_con2 .title-h1").height();
            $(".bomb_con2").height(h);
        })
        $(".title-h1 i").click(function(){
            $(".bomb_box").css("display", "none");
        })
    })
</script>
{/block}