{extend name="public/web_html"}
{block name="style"}
<link rel="stylesheet" href="/application/web/view/static/lib/swiper/css/swiper.min.css">
<style>
    .photo_con .swiper-wrapper .swiper-slide img{
        width: 100%;
    }
</style>
{/block}

{block name="body"}
<main class="drive_main">

    <div class="drive_img">
        <img src={$seller.cover_img} alt="">
        <div class="dr_info">
            <p class="dr_name">{$seller.nickname}</p>
            <p class="dr_id">工号: <span>{$seller.drv_code}</span></p>
        </div>
    </div>

    <div class="dr_repeat">
        <h1>关于我</h1>
        <p class="peo_info">
            {$seller.briefing}
        </p>
        <ul class="skill">
            <li>
                <span class="ski_span1">普通话</span>
                <span class="ski_span2">{$seller.putonghua ? $seller.putonghua  : "未填写" }</span>
            </li>
            <li>
                <span class="ski_span1">精通外语</span>
                <span class="ski_span2">{$seller.language ? $seller.language  : "未填写" }</span>
            </li>
            <li>
                <span class="ski_span1">家乡</span>
                <span class="ski_span2">{$seller.country ? $seller.country  : "未填写" }</span>
            </li>
            <li>
                <span class="ski_span1">平台星级</span>
                <span class="ski_span2">{$seller.plat_start ? $seller.plat_start  : "保密" }</span>
            </li>
        </ul>
    </div>

    <div id="appraise" class="dr_repeat mt_10 dr_assess">
        <h1>
            收到的评价
            <span>共90条</span>
        </h1>
        <div class="ass_con">
            <img src="/application/web/view/static/image/avatar@2x.png" alt="">
            <div class="left_d">
                <p>王浩</p>
                <p><span>2017-3-26 </span>出行</p>
            </div>
            <div class="right_d">
                <p><img src="/application/web/view/static/image/star_full@2x.png" alt=""></p>
                <p>接机服务</p>
            </div>
            <p class="dr_text">
                提前联系了，很热情，定的豪华型车，对4大2小，2个行 李箱，够宽敞。
            </p>
        </div>
        <div class="ass_con">
            <img src="/application/web/view/static/image/avatar@2x.png" alt="">
            <div class="left_d">
                <p>王浩</p>
                <p><span>2017-3-26 </span>出行</p>
            </div>
            <div class="right_d">
                <p><img src="/application/web/view/static/image/star_full@2x.png" alt=""></p>
                <p>接机服务</p>
            </div>
            <p class="dr_text">
                提前联系了，很热情，定的豪华型车，对4大2小，2个行 李箱，够宽敞。
            </p>
        </div>
        <div class="ass_con">
            <img src="/application/web/view/static/image/avatar@2x.png" alt="">
            <div class="left_d">
                <p>王浩</p>
                <p><span>2017-3-26 </span>出行</p>
            </div>
            <div class="right_d">
                <p><img src="/application/web/view/static/image/star_full@2x.png" alt=""></p>
                <p>接机服务</p>
            </div>
            <p class="dr_text">
                提前联系了，很热情，定的豪华型车，对4大2小，2个行 李箱，够宽敞。
            </p>
        </div>
        <div class="ass_con">
            <img src="/application/web/view/static/image/avatar@2x.png" alt="">
            <div class="left_d">
                <p>王浩</p>
                <p><span>2017-3-26 </span>出行</p>
            </div>
            <div class="right_d">
                <p><img src="/application/web/view/static/image/star_full@2x.png" alt=""></p>
                <p>接机服务</p>
            </div>
            <p class="dr_text">
                提前联系了，很热情，定的豪华型车，对4大2小，2个行 李箱，够宽敞。
            </p>
        </div>
        <div class="look">
            <a class="look_whole" href="javascript:void(0);">查看更多</a>
        </div>
    </div>

    <div class="dr_repeat mt_10 photo">
        <h1>我的相册</h1>
        <div class="photo_con">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {volist name="seller.img_url" id="url" key="k" }
                    <div class="swiper-slide"><img src="{$url}" alt=""></div>

                    {/volist}
                </div>
            </div>
        </div>
    </div>

    <div id="old" class="dr_repeat mt_10 old">
        <h1>我的故事</h1>
        <div class="old_box">
            <section>
                <img src="/application/web/view/static/image/2.png" alt="">
            </section>
            <h2>新加坡 “世界的小红点”</h2>
            <p> 我是一名全职专职司导，在新加坡大街小巷都有我的足迹，有 30年的开车经验和5年的司导经验...</p>
        </div>
        <div class="old_box">
            <section>
                <img src="/application/web/view/static/image/2.png" alt="">
            </section>
            <h2>新加坡 “世界的小红点2”</h2>
            <p> 我是一名全职专职司导，在新加坡大街小巷都有我的足迹，有 30年的开车经验和5年的司导经验...</p>
        </div>
        <div class="look">
            <a class="look_whole2" href="javascript:void(0);">查看更多</a>
        </div>
    </div>

    <div class="dr_repeat mt_10 xl">
        <h1>我的线路</h1>
        <script>
            console.log()
        </script>
        <div class="photo_con">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {volist name="line_array.line_detail" id="cover" key="k" }
                        {volist name="cover.port_detail" id="port" }
                    <div class="swiper-slide"><img src="{$port.port_coverImg|default=''}" alt=""></div>
                        {/volist}
                    {/volist}


                </div>
            </div>
        </div>
    </div>

    <div class="dr_repeat mt_10 car">
        <h1>我的车辆</h1>
        <div class="car_con">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {volist name="seller_car" id="car" key="k" }
                    <div class="swiper-slide">
                        <img src="{$car.car_img}" alt="">
                        <div class="car_info">
                            <h2>{$car.plate_number}</h2>
                            <p>
                                舒适{$car.seat_num}座 可载{$car.seat_num}人 三件行李
                            </p>
                        </div>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>

</main>
{/block}

{block name="script"}
<script src="/application/web/view/static/lib/swiper/js/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        pagination : '.swiper-pagination',
        loop:true,
        grabCursor: true,
        paginationClickable :true,
        autoplay: 4000,//可选选项，自动滑动
        paginationType : 'fraction',
        spaceBetween: 30,
        centeredSlides: true,
        autoplayDisableOnInteraction: false
    })

    $(function(){
        // 遍历 显示两个 其余隐藏
        function eachAppraiseList(ele,eleT,num){
            var appraConLength =ele.find(eleT).length;
            for(var i =num; i<appraConLength; i++){
                ele.find(eleT).eq(i).css("display","none");
            }
        }
        eachAppraiseList($("#appraise"),".ass_con",2);
        eachAppraiseList($("#old"),".old_box",1);

        $(".look_whole").click(function(){
            if(!$(this).hasClass("close")){
                $("#appraise").find(".ass_con").css("display","block");
                $(this).text("收起内容");
                $(this).addClass("close");
            }else{
                $(this).text("查看更多");
                $(this).removeClass("close");
                eachAppraiseList($("#appraise"),".ass_con",2);
            }
        })

        $(".look_whole2").click(function(){
            if(!$(this).hasClass("close")){
                $("#old").find(".old_box").css("display","block");
                $(this).text("收起内容");
                $(this).addClass("close");
            }else{
                $(this).text("查看更多");
                $(this).removeClass("close");
                eachAppraiseList($("#old"),".old_box",1);
            }
        })
    });
</script>
{/block}