{extend name="public/web_html"}
{block name="style"}
<link rel="stylesheet" href="">
{/block}

{block name="body"}
<main class="cir_main">
  <div class="circuit_img">
    <img src="{$line.cover_img}" alt="">
    <div class="synopsis">
      <h3>
        <span class="syn_title">{$line.line_title}</span>
        <span class="level">
          <img src="__STATIC__/image/star_full@2x.png" alt="">
        </span>
      </h3>
      <div class="pri">
        <span class="w30b col_ff7"><b class="price">￥{$line.line_price}</b><small>/天</small></span>
        <span class="w30b">276人出游</span>
        <div class="level">
          <img src="__STATIC__/image/heart_full@2x.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="cir_con driver_info">
    <h1>司导信息</h1>
    <div>
      <img class="head_img" src="__STATIC__/image/avatar@2x.png" alt="">
      <p class="dri_xx">
        <span class="drive_name">张强华</span>
        <span class="drive_id">工号:<i> A66780</i></span>
        <span class="drive_addre">
                    <i></i>
                    日本·京都
                </span>
      </p>
    </div>
  </div>

  <div class="cir_con taste">
    <h1>体验亮点</h1>
    <p class="taste_text">
      如果你无法简洁的表达你的想法，那只说明你还不够了解它。如果 你无法简洁的表达你的想法，
      那只说明你还不够了解它。如果你无 法简洁的表达你的想法，那只说明你还不够了解它。
    </p>
  </div>

  <div class="cir_con appraise">
    <h1>收到的评价
      <span>共90条</span>
    </h1>
    <div class="appraise_con">
      <section class="appra_peo">
        <img src="" alt="">
        <span class="peo_name">王浩</span>
        <span class="peo_level">
                    <img src="__STATIC__/image/star_full@2x.png" alt="">
                </span>
        <span class="peo_time">
                    2017-3-26
                </span>
      </section>
      <p class="appr_text">
        提前联系了，很热情，定的豪华型车，对4大2小，2个行 李箱，够宽敞。
      </p>
    </div>
    <div class="appraise_con">
      <section class="appra_peo">
        <img src="__STATIC__/image/avatar@2x.png" alt="">
        <span class="peo_name">谢小雨</span>
        <span class="peo_level">
                    <img src="__STATIC__/image/star_full@2x.png" alt="">
                </span>
        <span class="peo_time">
                    2017-3-26
                </span>
      </section>
      <p class="appr_text">
        接机师傅很准时地在机场等候接我们，但我们第一次到 新加坡，英文又不好，取行李，取现，花了很多时间。 谢谢师傅。
      </p>
    </div>
    <div class="look">
      <a class="look_whole" href="javascript:void(0);">查看全部评价</a>
    </div>
  </div>

  <div class="cir_con line">
    <h1>线路详情</h1>
    <div class="days">
      <p class="days_num">
        <span class="wire"></span>
        <i></i>
        <span class="diji">第一天</span>
        <i></i>
        <span class="wire"></span>
      </p>
      <div class="days_con">
        <h2>第一站</h2>
        <img src="__STATIC__/image/2.png" alt="">
        <p>
          渡轮巡游自由岛，近距离拍摄自由女神震撼身姿。如果想 乘坐轮船近距离观看，需要您提前预定船票，
          旺季时期船 票热销，有可能买不到，您可以在岸边观看。
        </p>
      </div>
      <div class="days_con">
        <h2>第一站</h2>
        <img src="__STATIC__/image/2.png" alt="">
        <p>
          渡轮巡游自由岛，近距离拍摄自由女神震撼身姿。如果想 乘坐轮船近距离观看，需要您提前预定船票，
          旺季时期船 票热销，有可能买不到，您可以在岸边观看。
        </p>
      </div>
    </div>
    <div class="days">
      <p class="days_num">
        <span class="wire"></span>
        <i></i>
        <span class="diji">第二天</span>
        <i></i>
        <span class="wire"></span>
      </p>
      <div class="days_con">
        <h2>第一站</h2>
        <img src="__STATIC__/image/2.png" alt="">
        <p>
          “9.11恐怖袭击”中倒塌的世界贸易中心遗址---归零地
        </p>
      </div>
    </div>
  </div>
</main>
{/block}

{block name="script"}{/block}






