{extend name="public/web_html"}
{block name="title"}路线详情{/block}
{block name="style"}
<link rel="stylesheet" href="">
{/block}

{block name="body"}
<main class="cir_main">
  <div class="circuit_img">
    <img src="{$line.cover_img}" alt="">
    <div class="synopsis">
      <div class="le_d">
        <h3>
          <p class="pb_10 title-p">{$line.line_title}</p>
          <div class="">
            <span class="col_ff7"><b class="price">{$line.line_price_fmt}</b><small>/天</small></span>
          </div>
        </h3>
      </div>
      <div class="rig_d">
        <span class="level">
          <!--<img src="/application/web/view/static/image/star_{$driver.plat_start|default=4}@2x.png" alt="">-->
        </span>
        <span class="level">
          <img src="/application/web/view/static/image/heart_{$line.score|default=5}@2x.png" alt="">
        </span>
      </div>
    </div>
  </div>

  {notempty name='driver'}
  <div class="cir_con driver_info">
    <h1>司导信息</h1>
    <div>
      <img class="head_img" src="{$driver.head_pic|default='http://img.shahaizi.cn/user_avatar.png'}" alt="">
      <p class="dri_xx">
        <span class="dis_block drive_name"><i>姓名:</i>{$driver.nickname}</span>
        <span class="dis_block drive_id">工号:<i> {$driver.drv_code}</i></span>
        <span class="dis_block drive_addre"><i></i>{$driver.country_name}{$driver.province_name}·{$driver.city_name}</span>
      </p>
    </div>
  </div>
  {/notempty}

  <div class="cir_con box2">
    <h1>车辆信息</h1>
    <ul>
      <li><span class="s-head">车型</span><span class="s-con">{$car.car_type}</span></li>
      <li><span class="s-head">座位</span><span class="s-con">{$car.car_seat_num}座</span></li>
    </ul>
  </div>

  <div class="cir_con taste">
    <h1>体验亮点</h1>
    <p class="taste_text">
      {$line.line_highlights}
    </p>
  </div>

  <div id="appraise" class="dr_repeat mt_10 dr_assess">
    <h1>
      收到的评价
      <span>共{$comments.total}条</span>
    </h1>
    {volist name="comments.list" id="comment"}
    <div class="ass_con">
      <img src="{$comment.owner.avatar|default='/application/web/view/static/image/avatar@2x.png'}" alt="">
      <div class="left_d">
        <p>{$comment.owner.nickname|default='****'}</p>
        <p><span>{$comment.commemt_time_fmt}</span> </p>
      </div>
      <div class="right_d">
        <p><img src="/application/web/view/static/image/heart_{$comment.pack_order_score|default=5}@2x.png" alt=""></p>
        <p></p>
      </div>
      <p class="dr_text">
        {$comment.content}
      </p>
    </div>
    {/volist}

    {if condition="$comments.total>2"}
    <div class="look">
      <a class="look_whole" href="javascript:void(0);">查看更多</a>
    </div>
    {/if}
  </div>

  <div class="cir_con line">
    <h1>线路详情</h1>
    {volist name="line.line_detail" id="day" key="k" }
    <div class="days">
      <p class="days_num">
        <span class="wire"></span>
        <i></i>
        <span class="diji">第{$k}天</span>
        <i></i>
        <span class="wire"></span>
      </p>
      <p>{$day.summary}</p>
      {volist name="day.port_detail" id="port" }
      <div class="days_con">
        <h2>
          第{$port.port_num}站
          <span class="pl_15">{$port.site_name}</span>
        </h2>
        <img src="{$port.port_coverImg|default=''}" alt="">  <!--/application/web/view/static/image/2.png-->
        <p>
          {$port.port_detail}
        </p>
      </div>
      {/volist}
    </div>
    {/volist}


  </div>
</main>
{/block}

{block name="script"}
<script>

    $(function(){
        // 遍历 显示两个 其余隐藏
        function eachAppraiseList(){
            var appraConLength =$("#appraise").find(".appraise_con").length;
            for(var i =2; i<appraConLength; i++){
                $("#appraise").find(".appraise_con").eq(i).css("display","none");
            }
        }
        eachAppraiseList();

       $(".look_whole").click(function(){

           if(!$(this).hasClass("close")){
               $("#appraise").find(".appraise_con").css("display","block");
               $(this).text("收起内容");
               $(this).addClass("close");
           }else{
               $(this).text("查看更多");
               $(this).removeClass("close");
               eachAppraiseList();
           }
       })
    });
</script>
{/block}






