{extend name="public/web_html"}
{block name="title"}路线详情{/block}
{block name="style"}
<link rel="stylesheet" href="">
{/block}

{block name="body"}
<main class="cir_main">
  <div class="circuit_img">
    <img src="{$line.cover_img}" alt="">
    <div class="synopsis">
      <h3>
        <span class="syn_title">{$line.line_title}</span>
        <span class="level">
          <img src="/application/web/view/static/image/star_{$driver.plat_start|default=4}@2x.png" alt="">
        </span>
      </h3>
      <div class="pri">
        <span class="w30b col_ff7"><b class="price">{$line.line_price_fmt}</b><small>/天</small></span>
        <span class="w30b">  </span>
        <div class="level">
          <img src="/application/web/view/static/image/heart_{$line.plat_start}@2x.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="cir_con driver_info">
    <h1>司导信息</h1>
    <div>
      <img class="head_img" src="{$driver.head_pic|default='http://img.shahaizi.cn/user_avatar.png'}" alt="">
      <p class="dri_xx">
        <span class="drive_name">{$driver.nickname}</span>
        <span class="drive_id">工号:<i> {$driver.drv_code}</i></span>
        {notempty name="driver.country_name"}
        <span class="drive_addre"><i></i>{$driver.country_name}·{$driver.province_name}</span>
        {/notempty}
      </p>
    </div>
  </div>

  <div class="cir_con taste">
    <h1>体验亮点</h1>
    <p class="taste_text">
      {$line.line_highlights}
    </p>
  </div>

  <div id="appraise" class="cir_con appraise">
    <h1>收到的评价
      <span>共4条</span>
    </h1>
    <div class="appraise_con">
      <section class="appra_peo">
        <img src="/application/web/view/static/image/avatar@2x.png" alt="">
        <span class="peo_name">王浩</span>
        <span class="peo_level">
            <img src="/application/web/view/static/image/heart_5@2x.png" alt="">
        </span>
        <span class="peo_time">
            2017-3-26
        </span>
      </section>
      <p class="appr_text">
        提前联系了，很热情，定的豪华型车，对4大2小，2个行 李箱，够宽敞。
      </p>
    </div>
    <div class="appraise_con">
      <section class="appra_peo">
        <img src="/application/web/view/static/image/avatar@2x.png" alt="">
        <span class="peo_name">谢小雨</span>
        <span class="peo_level">
            <img src="/application/web/view/static/image/heart_4@2x.png" alt="">
        </span>
        <span class="peo_time">
            2017-3-26
        </span>
      </section>
      <p class="appr_text">
        接机师傅很准时地在机场等候接我们，但我们第一次到 新加坡，英文又不好，取行李，取现，花了很多时间。 谢谢师傅。
      </p>
    </div>
    <div class="appraise_con">
      <section class="appra_peo">
        <img src="/application/web/view/static/image/avatar@2x.png" alt="">
        <span class="peo_name">王浩</span>
        <span class="peo_level">
            <img src="/application/web/view/static/image/heart_4@2x.png" alt="">
        </span>
        <span class="peo_time">
            2017-3-26
        </span>
      </section>
      <p class="appr_text">
        提前联系了，很热情，定的豪华型车，对4大2小，2个行 李箱，够宽敞。
      </p>
    </div>
    <div class="appraise_con">
      <section class="appra_peo">
        <img src="/application/web/view/static/image/avatar@2x.png" alt="">
        <span class="peo_name">谢小雨</span>
        <span class="peo_level">
            <img src="/application/web/view/static/image/heart_4@2x.png" alt="">
        </span>
        <span class="peo_time">
            2017-3-26
        </span>
      </section>
      <p class="appr_text">
        接机师傅很准时地在机场等候接我们，但我们第一次到 新加坡，英文又不好，取行李，取现，花了很多时间。 谢谢师傅。
      </p>
    </div>
    <div class="look">
      <a class="look_whole" href="javascript:void(0);">查看更多</a>
    </div>
  </div>

  <div class="cir_con line">
    <h1>线路详情</h1>
    {volist name="line.line_detail" id="day" key="k" }
    <div class="days">
      <p class="days_num">
        <span class="wire"></span>
        <i></i>
        <span class="diji">第{$k}天</span>
        <i></i>
        <span class="wire"></span>
      </p>
      <p>{$day.summary}</p>

      {volist name="day.port_detail" id="port" }
      <div class="days_con">
        <h2>第{$port.port_num}站</h2>
        <img src="{$port.port_coverImg|default=''}" alt="">  <!--/application/web/view/static/image/2.png-->
        <p>
          {$port.port_detail}
        </p>
      </div>
      {/volist}
    </div>
    {/volist}


  </div>
</main>
{/block}

{block name="script"}
<script>

    $(function(){
        // 遍历 显示两个 其余隐藏
        function eachAppraiseList(){
            var appraConLength =$("#appraise").find(".appraise_con").length;
            for(var i =2; i<appraConLength; i++){
                $("#appraise").find(".appraise_con").eq(i).css("display","none");
            }
        }
        eachAppraiseList();

       $(".look_whole").click(function(){

           if(!$(this).hasClass("close")){
               $("#appraise").find(".appraise_con").css("display","block");
               $(this).text("收起内容");
               $(this).addClass("close");
           }else{
               $(this).text("查看更多");
               $(this).removeClass("close");
               eachAppraiseList();
           }
       })
    });
</script>
{/block}






