{extend name="public/web_html"}
{block name="style"}

{/block}

{block name="body"}
<main class="main">
    <div class="visa_d">
        <div class="continent">
            <h1 class="cont_name">亚洲</h1>
            <ul class="cont_country">
                <li>
                    <img src="/application/web/view/static/image/001.png" alt="">
                    <p>日本</p>
                </li>
                <li>
                    <img src="/application/web/view/static/image/002.png" alt="">
                    <p>韩国</p>
                </li>
                <li>
                    <img src="/application/web/view/static/image/003.png" alt="">
                    <p>泰国</p>
                </li>
                <li>
                    <img src="/application/web/view/static/image/001.png" alt="">
                    <p>马来西亚</p>
                </li>
            </ul>
        </div>
        <div class="continent">
            <h1 class="cont_name">亚洲</h1>
            <ul class="cont_country">
                <li>
                    <img src="/application/web/view/static/image/001.png" alt="">
                    <p>日本</p>
                </li>
                <li>
                    <img src="/application/web/view/static/image/002.png" alt="">
                    <p>韩国</p>
                </li>
                <li>
                    <img src="/application/web/view/static/image/003.png" alt="">
                    <p>泰国</p>
                </li>
                <li>
                    <img src="/application/web/view/static/image/001.png" alt="">
                    <p>马来西亚</p>
                </li>
            </ul>
        </div>
        <div class="continent">
            <h1 class="cont_name">亚洲</h1>
            <ul class="cont_country">
                <li>
                    <img src="/application/web/view/static/image/001.png" alt="">
                    <p>日本</p>
                </li>
                <li>
                    <img src="/application/web/view/static/image/002.png" alt="">
                    <p>韩国</p>
                </li>
                <li>
                    <img src="/application/web/view/static/image/003.png" alt="">
                    <p>泰国</p>
                </li>
                <li>
                    <img src="/application/web/view/static/image/001.png" alt="">
                    <p>马来西亚</p>
                </li>
            </ul>
        </div>
    </div>
</main>
{/block}

{block name="script"}

{/block}