{extend name="public/web_html"}

{block name="style"}

{/block}

{block name="body"}
<main class="main">
    <div class="user_agreement">
        <div class="name">傻孩子商家端用户协议</div>
        <div>欢迎成为"傻孩子"的一员</div>
        <div>请在使用这个APP之前仔细阅读下面的使用规则和条款（以下简称“规则”和“条款”，通过访问、浏览或使用该APP，您确认您阅读过并完全理解规则和条款，也同意受这些规则和条款的约束。并且您同意遵守所有可适用的法律和法规。如果您不同意这些条款，将不能使用本APP。如果您有意见、问题或对这些规则和条款有所关注，请通过以下电子邮件地址 yinglan6666@qq.com或致电 021-55698841 与我们取得联系。
        </div>
        <div>
            <div class="title">01. 会员注意事项(注册)</div>
            <ul>
                <li>1. 为使用本APP服务，您必须成为一名傻孩子出境游的会员。您在注册完成后，傻孩子出境游出境游将为您创建一个设置密码保护的个人账户，在拥有该个人账户后，您将可以正式使用本网站并作为商家提供产品和服务，该账户仅提供您个人使用，不可转让或分配给任何其他人。您承诺并认可负责保护好您的账户机密及所有密码。您将承担对发生在您账户注册或密码之下的所有责任，和承担所有可能造成损失的后果，以及承担所有因此而造成傻孩子损失的赔偿责任，除非这些损失是由于傻孩子平台的重大过失或过错造成的。</li>
                <li>2. 您必须是年满18周岁，如果您是未成年人必须得到一名家长或监护人的同意及许可，并且这名家长或监护人已经代表您成为会员。</li>
                <li>3. 您有签订合同和服务的民事行为能力和相应的民事权利能力。</li>
                <li>4. 您必须保证，您使用本APP的目的是和贸易行为、生意行为和专业行为无关。</li>
                <li>5. 您在注册表格的所有栏目中填写的信息必须是真实、准确、最新和完整的；如果谎报有确实的理由怀疑您的信息是不真实的、不精确的、不是最新的或不完整的，傻孩子将有权或暂停或终止您的个人账户，并有权拒绝您使用本APP。</li>
                <li>6. 您必须同意受现在的使用规则和条款的约束。傻孩子出境游有权接受或拒绝任何人的注册申请并无须提供理由。傻孩子出境游有权随时用任何手段来限制发展会员的数量。</li>
            </ul>
        </div>
        <div>
            <div class="title">02. 安全条款保护(隐私和保险)</div>
            <ul>
                <li>1. 傻孩子出境游承诺尊重您的隐私和您的个人信息安全，不会向任何第三方组织提供、出售、出租、分享和交易用户的个人信息，除非第三方和傻孩子出境游一起为本APP注册会员提供服务，并且在该服务结束后，第三方已被禁止访问包括以前能够访问的所有的这些资料。</li>
                <li>2. 傻孩子商家在本平台提供服务及产品的同时不可以出现其他平台，竞争对手，以及使用平台以外的联系方式，一经发现，平台有权利扣除账户余额，以及停止违规账户所有权限。</li>
                <li>3. 当我们被法律强制或依照政府要求提供您的信息时候，我们将善意地披露您的资料。 如果您有任何关于隐私保护的意见或举报，请立即致电 021-55698841 或发送下面邮件地址 yinglan6666@qq.com 与我们取得联系。</li>
                <li>4. 您在注册表格的所有栏目中填写的信息必须是真实、准确、最新和完整的；如果谎报有确实的理由怀疑您的信息是不真实的、不精确的、不是最新的或不完整的，傻孩子出境游将有权或暂停或终止您的个人账户，并有权拒绝您使用本APP。</li>
            </ul>
        </div>
        <div>
            <div class="title">03. 免责声明(身份确认)</div>
            <ul>
                <li>1.对于所有在本APP上获得或通过本APP所能获得的商品、服务和信息内容，傻孩子出境游仅提供承诺服务内的担保或保证</li>
            </ul>
        </div>
        <div>
            <div class="title">04. 服务终端、终止和变更</div>
            <ul>
                <li>1.如因系统维护或升级的需要而暂停傻孩子出境游的服务，本APP将尽可能实现进行通告，对由此产品的任何损失或索赔，傻孩子出境游不承担责任。</li>
                <li>2.您同意在符合法律法规及本条款规定的情况下使用个人账户， 傻孩子出境游有可能在某些情况（例如：您违反本条款和/或其他公开规则，或您严重违背社会公德、提供虚假注册身份信息或有其他违反法律禁止性规定的行为或不正当行为等）下暂时冻结、永久冻结、修改、删除您的个人账户或采取其他处理措施。对由此产生的任何损失或索赔，傻孩子出境游不承担责任。</li>
                <li>3.您了解并同意，傻孩子出境游个人账户、积分、优惠券等互联网产品及服务所有权归属傻孩子出境游，会员在满足傻孩子出境游公布的规则的前提下有权使用上述产品及服务，基于此您承诺，非傻孩子出境游同意，将不会将傻孩子出境游各项产品及服务用于商业用途（例如：销售傻孩子平台个人账户、销售个人账户下积分、优惠券等）。</li>
                <li>4.在使用傻孩子出境游服务过程中，如果您或您的个人账户存在涉嫌欺诈、商业牟利、不恰当或不诚实地使用服务或其他违反本条款和/或其他公开规则的行为（包括但不限于使用作弊软件获取积分及/或优惠券、贩卖个人账号、积分及/或代金券、盗号、协助盗号等）傻孩子出境游有权拒绝为您继续提供服务，永久冻结您的个人账号，并根据具体情况并有权对改等个人账号中因上述手段而产品、获得的一切虚拟产品予以清零。对由此产生的任何损失或索赔，傻孩子出境游不承担责任。</li>
                <li>5.本网站的使用该规则和条款适用于中华人民共和国的相关法律法规的规定，并且用中华人民共和国的法律解释。您和傻孩子出境游之间的任何争端和争议，双方同意，将争议提交傻孩子出境游公司所在地人民法院管辖。发生争议时，您同意双方争议的实事判断以傻孩子出境游的系统数据为准，傻孩子出境游保证数据的真实性。</li>
            </ul>
        </div>
        <div>
            <div class="title">05. 最终条款</div>
            <ul>
                <li>1. 傻孩子出境游如未能及时行驶或执行本实用规则和条款中的任何规定并不构成对这些权利和规则的放弃，加入本实用规则和条款中的一条或几条条款被视为是无约束力的、无效的、或任何原因造成无法执行的，哪一条或那几条将视为是可分割开的，且不会影响到其余任何条款的有效性和可执行性，那一部分条款应该用于本实用规则和条款适用的法律相一致地方来解释。</li>
                <li>2.本使用规则和条款中包含的各部分的标题仅为方便起见使用，不得被视为是对本实用规则和条款中规定的意思或架构的一种控制或影响。</li>
                <li>3. 傻孩子出境游保留随时修订本使用规则和条款的权利而不用经过用户同意，独立进行判断，在此情况下，本网站所提供的服务使用条件将以变更后的使用规则为依据。被变更的条例将根据用户人为本公司事先发送的通知以及本APP中的公告等合理的前提下，以通知的那一刻为准产生法律效力。</li>
                <li>4.如果您不同意遵守本使用规则和条款的任何修订版本，您可以通过致电 021-55698841 或发送邮件至 yinglan6666@qq.com通知傻孩子出境游您的决定及异议。</li>
                <li>5.本使用规则和条款构成您和傻孩子出境游之间的所有共识，并对使用本网站和从本网站购买产品和服务的行为进行约束。</li>
            </ul>
        </div>
    </div>
</main>

{/block}

{block name="script"}

{/block}

